Repository kgutwin/musicteam: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-apispec, generate-nuxt-api, typecheck

.pre-commit-config.yaml:

default_stages: [pre-commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-ast

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        entry: bash -c "MYPYPATH=musicteam/mypy-stubs mypy $@" --
        args: ["--strict"]
        exclude: "musicteam/tests/"
        additional_dependencies:
          - "aurora-data-api"
          - "pydantic>2"
          - "requests-oauthlib"
          - "google-auth"
          - "pyjwt"
          - "chalice"
          - "py-pglite"
          - "psycopg"
          - "types-requests-oauthlib"
          - "apispec"
          - "apispec-pydantic-plugin"

  - repo: https://github.com/asottile/reorder-python-imports
    rev: v3.16.0
    hooks:
      - id: reorder-python-imports

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff-check
        args: ["--fix"]

  - repo: local
    hooks:
      - id: generate-apispec
        name: generate api spec
        language: system
        entry: bash -c 'cd musicteam; python generate_apispec.py ../musicteam-api.yaml'
        pass_filenames: false
        files: "musicteam/app.py|musicteam/chalicelib"
        types: [file]

      - id: generate-nuxt-api
        name: generate nuxt api
        language: system
        entry: bash -c 'cd musicteam-nuxt; npm run generate-api'
        pass_filenames: false
        files: "musicteam/app.py|musicteam/chalicelib|musicteam-api.yaml"
        types: [file]

      - id: typecheck
        name: nuxt typecheck
        language: system
        entry: bash -c 'cd musicteam-nuxt; npm run lint:tsc'
        pass_filenames: false
        files: "musicteam-nuxt/app"
        types: [file]

try passing typecheck error by generating default via func
  musicteam-nuxt/app/components/mt/MtArrayInput.vue
Due: typecheck

squash rather than rebase dependabot PRs
  .github/workflows/dependabot-auto-merge.yml
Due: none

try updating to node 26
  .github/workflows/test.yml
  musicteam-nuxt/package.json
Due: none

does this work to force node 26
  musicteam-nuxt/package.json
Due: none

maybe this will install node 26
  .github/workflows/test.yml
  musicteam-nuxt/package.json
Due: none

update @pinia/nuxt too
  musicteam-nuxt/package-lock.json
  musicteam-nuxt/package.json
Due: none

update package-lock.json
  musicteam-nuxt/package-lock.json
Due: none

also update pymupdf-stubs
  .pre-commit-config.yaml
  requirements-dev.txt
Due: none

update pytest pdf snapshots
  musicteam/tests/__snapshots__/test_pdf/test_add_verse_order.pdf
  musicteam/tests/__snapshots__/test_pdf/test_make_cover_sheet.pdf
  musicteam/tests/__snapshots__/test_pdf/test_text_to_pdf_1.pdf
  musicteam/tests/__snapshots__/test_pdf/test_text_to_pdf_2.pdf
  musicteam/tests/blueprints/__snapshots__/test_setlists/test_setlists_get_music_packet[packet].pdf
Due: none

resolve mypy unused type comment
  musicteam/chalicelib/pdf.py
Due: generate-apispec, generate-nuxt-api

pytest fix
  musicteam/tests/blueprints/test_setlists.py
Due: none

Small TODO update
  TODO.md
Due: none

Another small TODO update
  TODO.md
Due: none

unquote request params, fixing swagger ui issue
  musicteam/chalicelib/middleware.py
Due: generate-apispec, generate-nuxt-api

ping every so often, to keep the backend awake
  musicteam-nuxt/app/app.vue
  musicteam-nuxt/app/stores/ping.ts
Due: typecheck

Set content type when uploading large files, fixing embedded vids
  musicteam-api.yaml
  musicteam-nuxt/app/components/song/SongMediaPanel.vue
  musicteam-nuxt/app/services/api.ts
  musicteam/chalicelib/blueprints/objects.py
  musicteam/chalicelib/types.py
  musicteam/tests/blueprints/test_objects.py
  musicteam/tests/conftest.py
Due: generate-apispec, generate-nuxt-api, typecheck

fix AttributeError when no parameters
  musicteam/chalicelib/middleware.py
Due: generate-apispec, generate-nuxt-api

Revert "chore(deps): bump nuxt from 4.4.2 to 4.5.2 in /musicteam-nuxt (#154)"
  musicteam-nuxt/package-lock.json
  musicteam-nuxt/package.json
Due: none

chore: allow scripts from npm packages
  musicteam-nuxt/package.json
Due: none

chore(deps): update cypress to 15.21.1
  musicteam-nuxt/nuxt.config.ts
  musicteam-nuxt/package-lock.json
  musicteam-nuxt/package.json
Due: none

add node types, actually resolving a typescript issue
  musicteam-nuxt/nuxt.config.ts
  musicteam-nuxt/package-lock.json
  musicteam-nuxt/package.json
Due: none

Don't duplicate songs when copying the setlist to clipboard
  musicteam-nuxt/app/pages/setlists/[id]/index.vue
Due: typecheck

Add pre-deploy CI checks
  deploy.sh
Due: none

Show only song tags in song list filter
  musicteam-api.yaml
  musicteam-nuxt/app/pages/songs/index.vue
  musicteam-nuxt/app/services/api.ts
  musicteam-nuxt/app/stores/info.ts
  musicteam-nuxt/package.json
  musicteam/chalicelib/blueprints/info.py
  musicteam/chalicelib/db-schema/schema-007.sql
  musicteam/chalicelib/db.py
  musicteam/tests/__snapshots__/test_db.ambr
  musicteam/tests/blueprints/test_info.py
Due: generate-apispec, generate-nuxt-api, typecheck

Make blocks on main page clickable
  musicteam-nuxt/app/pages/index.vue
Due: typecheck

Proposed solution to curtail idle pinging
  musicteam-nuxt/app/app.vue
  musicteam-nuxt/app/stores/ping.ts
Due: typecheck

Temporarily disable index db pings to stop waste
  musicteam/app.py
Due: generate-apispec, generate-nuxt-api

Add Cloudwatch logging to Cloudfront
  cfn.yaml
Due: none

Add dedicated db ping endpoint
  cfn.yaml
  deploy.sh
  musicteam-api.yaml
  musicteam-nuxt/app/services/api.ts
  musicteam-nuxt/app/stores/ping.ts
  musicteam/app.py
  musicteam/chalicelib/__init__.py
  musicteam/chalicelib/types.py
Due: generate-apispec, generate-nuxt-api, typecheck

Fix pytest
  musicteam/tests/test_app.py
Due: none

deploy script needs github conclusion
  deploy.sh
Due: none

Copy to Clipboard buttons have a reaction
  musicteam-nuxt/app/components/mt/MtCopyToClipboard.vue
  musicteam-nuxt/app/components/song/SongTextPanel.vue
  musicteam-nuxt/app/components/song/SongVersionPanel.vue
  musicteam-nuxt/app/pages/setlists/[id]/index.vue
Due: typecheck

Copy setlist media links to clipboard
  musicteam-nuxt/app/components/setlist/SetlistMediaPanel.vue
Due: typecheck

Pending users now is an asterisk on the Team navbar entry
  musicteam-nuxt/app/components/NavBar.vue
  musicteam-nuxt/app/components/TeamMembersPending.vue
Due: typecheck

Track user last login time
  musicteam/chalicelib/blueprints/auth.py
Due: generate-apispec, generate-nuxt-api

switch copy-to-clipboard icon
  musicteam-nuxt/app/components/mt/MtCopyToClipboard.vue
Due: typecheck

Make future setlists more distinct from next/past ones
  musicteam-nuxt/app/components/mt/MtTable.vue
  musicteam-nuxt/app/pages/setlists/index.vue
  musicteam-nuxt/app/utils/index.ts
Due: typecheck

User icon instead of initials in song list
  musicteam-nuxt/app/components/Created.vue
  musicteam-nuxt/app/pages/songs/index.vue
Due: typecheck

fully quoted search query uses literal LIKE rather than stemmed FTS
  musicteam/chalicelib/blueprints/songs.py
Due: generate-apispec, generate-nuxt-api

Automatically assign primary state when moving to a position
  musicteam-nuxt/app/components/setlist/SetlistSidebar.vue
  musicteam-nuxt/app/components/setlist/SetlistSidebarSong.vue
  musicteam-nuxt/cypress/e2e/setlists.cy.ts
Due: typecheck
