Repository kgutwin/musicteam: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-apispec, generate-nuxt-api, typecheck

.pre-commit-config.yaml:

default_stages: [pre-commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-ast

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        entry: bash -c "MYPYPATH=musicteam/mypy-stubs mypy $@" --
        args: ["--strict"]
        exclude: "musicteam/tests/"
        additional_dependencies:
          - "aurora-data-api"
          - "pydantic>2"
          - "requests-oauthlib"
          - "google-auth"
          - "pyjwt"
          - "chalice"
          - "py-pglite"
          - "psycopg"
          - "types-requests-oauthlib"
          - "apispec"
          - "apispec-pydantic-plugin"

  - repo: https://github.com/asottile/reorder-python-imports
    rev: v3.16.0
    hooks:
      - id: reorder-python-imports

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff-check
        args: ["--fix"]

  - repo: local
    hooks:
      - id: generate-apispec
        name: generate api spec
        language: system
        entry: bash -c 'cd musicteam; python generate_apispec.py ../musicteam-api.yaml'
        pass_filenames: false
        files: "musicteam/app.py|musicteam/chalicelib"
        types: [file]

      - id: generate-nuxt-api
        name: generate nuxt api
        language: system
        entry: bash -c 'cd musicteam-nuxt; npm run generate-api'
        pass_filenames: false
        files: "musicteam/app.py|musicteam/chalicelib|musicteam-api.yaml"
        types: [file]

      - id: typecheck
        name: nuxt typecheck
        language: system
        entry: bash -c 'cd musicteam-nuxt; npm run lint:tsc'
        pass_filenames: false
        files: "musicteam-nuxt/app"
        types: [file]

Mobile support for active setlist
  musicteam-nuxt/app/app.vue
  musicteam-nuxt/app/components/mt/MtEditable.vue
  musicteam-nuxt/app/components/mt/MtTabPanel.vue
  musicteam-nuxt/app/components/setlist/SetlistSidebar.vue
  musicteam-nuxt/app/components/setlist/SetlistSidebarSong.vue
  musicteam-nuxt/app/utils/index.ts
Due: typecheck

Update TODO.md
  TODO.md
Due: none

Add sharable lyrics page
  TODO.md
  musicteam-api.yaml
  musicteam-nuxt/app/app.vue
  musicteam-nuxt/app/layouts/blank.vue
  musicteam-nuxt/app/layouts/default.vue
  musicteam-nuxt/app/pages/lyrics.vue
  musicteam-nuxt/app/pages/setlists/index.vue
  musicteam-nuxt/app/pages/songs/index.vue
  musicteam-nuxt/app/services/api.ts
  musicteam-nuxt/app/stores/setlists.ts
  musicteam/chalicelib/blueprints/setlists.py
  musicteam/chalicelib/types.py
Due: generate-apispec, generate-nuxt-api, typecheck

Finish audience lyrics page
  TODO.md
  musicteam-nuxt/app/pages/lyrics.vue
  musicteam-nuxt/app/stores/index.ts
  musicteam-nuxt/cypress/e2e/setlists.cy.ts
Due: typecheck

Initial approach to caching setlist music packets
  musicteam-api.yaml
  musicteam-nuxt/app/services/api.ts
  musicteam/chalicelib/blueprints/setlists.py
  musicteam/chalicelib/storage.py
  musicteam/chalicelib/types.py
  musicteam/tests/blueprints/__snapshots__/test_setlists/test_setlists_get_music_packet[packet].pdf
  musicteam/tests/blueprints/test_setlists.py
  musicteam/tests/conftest.py
  musicteam/tests/test_pdf.py
Due: generate-apispec, generate-nuxt-api, typecheck

Tweak to try to fix non-recording Cypress runs
  .github/workflows/test.yml
Due: none

Fix bug with setlist lyrics and add test
  musicteam/chalicelib/blueprints/setlists.py
  musicteam/tests/blueprints/__snapshots__/test_setlists.ambr
  musicteam/tests/blueprints/test_setlists.py
  musicteam/tests/conftest.py
Due: generate-apispec, generate-nuxt-api

Various small style tweaks
  musicteam-nuxt/app/pages/setlists/[id]/index.vue
Due: typecheck

Fix bug preventing pdf packet cache
  musicteam/chalicelib/blueprints/setlists.py
Due: generate-apispec, generate-nuxt-api

Bug fixes - sheet loading indicator, tag/author refresh
  TODO.md
  musicteam-nuxt/app/components/mt/MtTabPanel.vue
  musicteam-nuxt/app/components/song/SongVersionPanel.vue
  musicteam-nuxt/app/pages/songs/[id]/index.vue
Due: typecheck

Lyrics text size selector
  TODO.md
  musicteam-nuxt/app/pages/lyrics.vue
  musicteam-nuxt/app/utils/index.ts
Due: typecheck

Add display/edit of song sheet tags
  musicteam-nuxt/app/components/mt/MtTabPanel.vue
  musicteam-nuxt/app/components/song/SongVersionPanel.vue
  musicteam-nuxt/app/pages/setlists/[id]/index.vue
  musicteam-nuxt/app/pages/songs/[id]/edit/[versionId]/[sheetId]/index.vue
Due: typecheck

Improve responsive style of song list filter bar
  musicteam-nuxt/app/pages/songs/index.vue
Due: typecheck

Finish adding music sheet tags to new song page, add tests
  musicteam-nuxt/app/components/song/SongNewSheetForm.vue
  musicteam-nuxt/cypress/e2e/songs.cy.ts
Due: typecheck

a bit more logging and error handling in auth callback
  musicteam/chalicelib/blueprints/auth.py
Due: generate-apispec, generate-nuxt-api

Tests and fixes around pending users
  TODO.md
  musicteam-nuxt/app/pages/team/index.vue
  musicteam-nuxt/cypress/e2e/users.cy.ts
  musicteam-nuxt/cypress/support/commands.ts
  musicteam/chalicelib/blueprints/auth.py
  musicteam/chalicelib/blueprints/users.py
Due: generate-apispec, generate-nuxt-api, typecheck

TODO update
  TODO.md
Due: none

chore(deps): update packages with npm audit fix
  musicteam-nuxt/package-lock.json
Due: none

chore(deps): add @nuxt/nitro-server as dev dependency
  musicteam-nuxt/package-lock.json
  musicteam-nuxt/package.json
Due: none

Revert "chore(deps): add @nuxt/nitro-server as dev dependency"
  musicteam-nuxt/package-lock.json
  musicteam-nuxt/package.json
Due: none

chore(deps): add @nuxt/nitro-server correctly
  musicteam-nuxt/app/pages/lyrics.vue
  musicteam-nuxt/package-lock.json
  musicteam-nuxt/package.json
Due: typecheck

chore(deps): update vue-router
  musicteam-nuxt/package-lock.json
  musicteam-nuxt/package.json
Due: none

chore(deps): upgrade @nuxt/icon and @iconify-json/ri
  musicteam-nuxt/package-lock.json
  musicteam-nuxt/package.json
Due: none

chore(deps): upgrade pinia and @pinia/nuxt
  musicteam-nuxt/package-lock.json
  musicteam-nuxt/package.json
Due: none

chore(deps): update nuxt and vue; run tsc in pre-commit on upgrades
  .pre-commit-config.yaml
  musicteam-nuxt/package-lock.json
  musicteam-nuxt/package.json
Due: none

chore(deps): update @sidebase/nuxt-auth, next-auth, and baseline-browser-mapping
  musicteam-nuxt/package-lock.json
  musicteam-nuxt/package.json
Due: none

chore(deps): fix next-auth peer dependency
  musicteam-nuxt/package-lock.json
  musicteam-nuxt/package.json
Due: none

chore(deps): update pdfjs-viewer-element and swagger-typescript-api
  musicteam-nuxt/package-lock.json
  musicteam-nuxt/package.json
Due: none

chore(deps): update cypress, eslint, prettier, typescript...
  musicteam-nuxt/package-lock.json
  musicteam-nuxt/package.json
Due: none

test: update for new cypress typescript
  musicteam-nuxt/cypress/support/commands.ts
  musicteam-nuxt/cypress/support/component.ts
  musicteam-nuxt/cypress/support/e2e.ts
Due: none

chore(deps): downgrade pdfjs-viewer-element back to 2.7.4
  musicteam-nuxt/package.json
Due: none

chore(deps): forgot package-lock.json
  musicteam-nuxt/package-lock.json
Due: none

chore(deps): downgrade to typescript 5.9.3, 6.x not supported by cypress
  musicteam-nuxt/package-lock.json
  musicteam-nuxt/package.json
Due: none

Update test snapshots
  musicteam/tests/__snapshots__/test_pdf/test_add_verse_order.pdf
  musicteam/tests/__snapshots__/test_pdf/test_make_cover_sheet.pdf
  musicteam/tests/__snapshots__/test_pdf/test_text_to_pdf_1.pdf
  musicteam/tests/__snapshots__/test_pdf/test_text_to_pdf_2.pdf
  musicteam/tests/blueprints/__snapshots__/test_setlists/test_setlists_get_music_packet[packet].pdf
  musicteam/tests/blueprints/test_setlists.py
Due: none

chore(deps): update github actions for Node deprecation
  .github/workflows/test.yml
Due: none

tweak dependabot config, hoping for npm updates
  .github/dependabot.yml
Due: none

chore(deps): update more github actions for Node deprecation
  .github/workflows/test.yml
Due: none

try updating node to unstick dependabot
  musicteam-nuxt/package-lock.json
  musicteam-nuxt/package.json
Due: none

Bug fixes for set lists
  TODO.md
  musicteam-nuxt/app/components/setlist/SetlistOrder.vue
  musicteam-nuxt/app/components/setlist/SetlistSidebar.vue
  musicteam-nuxt/assets/css/tailwind.css
Due: typecheck

Add text editor when creating song sheet
  musicteam-nuxt/app/components/song/SongNewSheetForm.vue
  musicteam-nuxt/app/components/song/SongTextEditor.vue
Due: typecheck
