Repository kgutwin/musicteam: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-apispec, generate-nuxt-api, typecheck

.pre-commit-config.yaml:

default_stages: [pre-commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-ast

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        entry: bash -c "MYPYPATH=musicteam/mypy-stubs mypy $@" --
        args: ["--strict"]
        exclude: "musicteam/tests/"
        additional_dependencies:
          - "aurora-data-api"
          - "pydantic>2"
          - "requests-oauthlib"
          - "google-auth"
          - "pyjwt"
          - "chalice"
          - "py-pglite"
          - "psycopg"
          - "types-requests-oauthlib"
          - "apispec"
          - "apispec-pydantic-plugin"

  - repo: https://github.com/asottile/reorder-python-imports
    rev: v3.16.0
    hooks:
      - id: reorder-python-imports

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff-check
        args: ["--fix"]

  - repo: local
    hooks:
      - id: generate-apispec
        name: generate api spec
        language: system
        entry: bash -c 'cd musicteam; python generate_apispec.py ../musicteam-api.yaml'
        pass_filenames: false
        files: "musicteam/app.py|musicteam/chalicelib"
        types: [file]

      - id: generate-nuxt-api
        name: generate nuxt api
        language: system
        entry: bash -c 'cd musicteam-nuxt; npm run generate-api'
        pass_filenames: false
        files: "musicteam/app.py|musicteam/chalicelib|musicteam-api.yaml"
        types: [file]

      - id: typecheck
        name: nuxt typecheck
        language: system
        entry: bash -c 'cd musicteam-nuxt; npm run lint:tsc'
        pass_filenames: false
        files: "musicteam-nuxt/app"
        types: [file]

Improve responsive layout (mobile)
  musicteam-nuxt/app/app.vue
  musicteam-nuxt/app/components/NavBar.vue
  musicteam-nuxt/app/components/mt/MtTabPanel.vue
  musicteam-nuxt/app/components/song/SongTextPanel.vue
  musicteam-nuxt/app/components/song/SongVersionPanel.vue
  musicteam-nuxt/app/pages/songs/[id]/index.vue
  musicteam-nuxt/app/pages/songs/index.vue
  musicteam-nuxt/assets/css/tailwind.css
Due: typecheck

Bug fixes on MtSelectOther, new library links, more
  musicteam-nuxt/app/components/mt/MtSelectOther.vue
  musicteam-nuxt/app/components/song/SongNewLibraryLinks.vue
  musicteam-nuxt/app/pages/songs/[id]/edit/[versionId]/[sheetId]/index.vue
  musicteam-nuxt/app/pages/songs/index.vue
Due: typecheck

Bypass database ping on auth methods that don't need it
  musicteam/chalicelib/blueprints/auth.py
  musicteam/chalicelib/middleware.py
Due: generate-apispec, generate-nuxt-api

Support POST on /api/auth/session
  TODO.md
  musicteam-api.yaml
  musicteam-nuxt/app/services/api.ts
  musicteam-nuxt/app/services/generate-api.js
  musicteam/chalicelib/blueprints/auth.py
Due: generate-apispec, generate-nuxt-api, typecheck

Tab nav in setlist new
  TODO.md
  musicteam-nuxt/app/pages/setlists/new.vue
Due: typecheck

Support deep links after login; add some share buttons
  TODO.md
  musicteam-nuxt/app/components/song/SongTextPanel.vue
  musicteam-nuxt/app/components/song/SongVersionPanel.vue
  musicteam-nuxt/app/pages/login.vue
  musicteam-nuxt/app/pages/setlists/[id]/index.vue
  musicteam-nuxt/app/pages/songs/[id]/index.vue
  musicteam-nuxt/assets/css/tailwind.css
  musicteam-nuxt/nuxt.config.ts
Due: typecheck

Automate chord removal from lyrics
  TODO.md
  musicteam-nuxt/app/composables/validation.ts
  musicteam-nuxt/app/pages/songs/[id]/edit/[versionId]/[sheetId]/index.vue
  musicteam-nuxt/app/pages/songs/new.vue
  musicteam-nuxt/app/utils/index.ts
Due: typecheck

Bug fixes for chords and verse order handling in PDFs
  TODO.md
  musicteam-nuxt/app/pages/songs/new.vue
  musicteam-nuxt/app/utils/index.ts
  musicteam/chalicelib/pdf.py
Due: generate-apispec, generate-nuxt-api, typecheck

Bug fixes and tweaks for setlist, auth
  TODO.md
  musicteam-api.yaml
  musicteam-nuxt/app/components/setlist/SetlistOrder.vue
  musicteam-nuxt/app/components/setlist/SetlistSidebar.vue
  musicteam-nuxt/app/services/api.ts
  musicteam-nuxt/nuxt.config.ts
  musicteam/chalicelib/blueprints/auth.py
Due: generate-apispec, generate-nuxt-api, typecheck

Add set list templates to frontend
  TODO.md
  musicteam-nuxt/app/components/Created.vue
  musicteam-nuxt/app/components/mt/MtEditable.vue
  musicteam-nuxt/app/components/mt/MtTable.vue
  musicteam-nuxt/app/components/mt/MtText.vue
  musicteam-nuxt/app/components/setlist/SetlistOrder.vue
  musicteam-nuxt/app/components/setlist/SetlistTemplateOrder.vue
  musicteam-nuxt/app/composables/validation.ts
  musicteam-nuxt/app/pages/setlists/[id]/index.vue
  musicteam-nuxt/app/pages/setlists/new.vue
  musicteam-nuxt/app/pages/setlists/templates.vue
  musicteam-nuxt/app/pages/songs/index.vue
  musicteam-nuxt/app/stores/README.md
  musicteam-nuxt/app/stores/index.ts
  musicteam-nuxt/app/stores/setlistTemplates.ts
Due: typecheck

Add database README
  musicteam/chalicelib/db-schema/README.md
Due: generate-apispec, generate-nuxt-api

Update TODO.md
  TODO.md
Due: none

Fix sheet switching bug, add store to hold song listing prefs
  TODO.md
  musicteam-nuxt/app/components/song/SongText.vue
  musicteam-nuxt/app/pages/songs/index.vue
  musicteam-nuxt/app/stores/prefs.ts
  musicteam-nuxt/nuxt.config.ts
  musicteam-nuxt/package-lock.json
  musicteam-nuxt/package.json
Due: typecheck

Search across song lyrics
  TODO.md
  musicteam-api.yaml
  musicteam-nuxt/app/components/HighlightText.ts
  musicteam-nuxt/app/components/song/SongSearchHit.vue
  musicteam-nuxt/app/pages/songs/index.vue
  musicteam-nuxt/app/pages/songs/search.vue
  musicteam-nuxt/app/services/api.ts
  musicteam/chalicelib/blueprints/songs.py
  musicteam/chalicelib/db-schema/schema-004.sql
  musicteam/chalicelib/db.py
  musicteam/chalicelib/types.py
  musicteam/generate_apispec.py
  musicteam/tests/__snapshots__/test_db.ambr
Due: generate-apispec, generate-nuxt-api, typecheck

Search improvements
  musicteam-nuxt/app/components/song/SongSearchHit.vue
  musicteam-nuxt/app/pages/songs/search.vue
  musicteam/chalicelib/blueprints/songs.py
Due: generate-apispec, generate-nuxt-api, typecheck

Add support for user roles
  TODO.md
  musicteam-api.yaml
  musicteam-nuxt/app/components/NavBar.vue
  musicteam-nuxt/app/components/TeamMembersPending.vue
  musicteam-nuxt/app/components/mt/MtEditable.vue
  musicteam-nuxt/app/components/setlist/SetlistOrder.vue
  musicteam-nuxt/app/components/song/SongVersionPanel.vue
  musicteam-nuxt/app/composables/auth.ts
  musicteam-nuxt/app/middleware/checkAuth.global.ts
  musicteam-nuxt/app/pages/pending.vue
  musicteam-nuxt/app/pages/setlists/[id]/index.vue
  musicteam-nuxt/app/pages/setlists/index.vue
  musicteam-nuxt/app/pages/setlists/new.vue
  musicteam-nuxt/app/pages/setlists/templates.vue
  musicteam-nuxt/app/pages/songs/[id]/edit/[versionId]/[sheetId]/index.vue
  musicteam-nuxt/app/pages/songs/[id]/index.vue
  musicteam-nuxt/app/pages/songs/index.vue
  musicteam-nuxt/app/pages/songs/new.vue
  musicteam-nuxt/app/pages/team/index.vue
  musicteam-nuxt/app/services/api.ts
  musicteam-nuxt/app/stores/users.ts
  musicteam/chalicelib/blueprints/auth.py
  musicteam/chalicelib/blueprints/users.py
  musicteam/chalicelib/types.py
Due: generate-apispec, generate-nuxt-api, typecheck

update pre-commit
  .pre-commit-config.yaml
  TODO.md
  musicteam-nuxt/app/pages/team/index.vue
Due: typecheck

Initial implementation of comments
  TODO.md
  musicteam-nuxt/app/components/NavBar.vue
  musicteam-nuxt/app/components/comments/CommentsIcons.vue
  musicteam-nuxt/app/components/comments/CommentsPanel.vue
  musicteam-nuxt/app/components/song/SongVersionPanel.vue
  musicteam-nuxt/app/components/song/SongVersionPanelCommentsMedia.vue
  musicteam-nuxt/app/components/user/UserIcon.vue
  musicteam-nuxt/app/composables/toast.ts
  musicteam-nuxt/app/stores/comments.ts
  musicteam-nuxt/app/stores/info.ts
  musicteam-nuxt/assets/css/tailwind.css
  musicteam-nuxt/package-lock.json
  musicteam-nuxt/package.json
  musicteam/chalicelib/blueprints/comments.py
Due: generate-apispec, generate-nuxt-api, typecheck

update packages
  musicteam-nuxt/package-lock.json
Due: none

Fix minor comment layout issue
  TODO.md
  musicteam-nuxt/app/components/song/SongVersionPanelCommentsMedia.vue
Due: typecheck

Add size guide to SongTextEditor
  TODO.md
  musicteam-nuxt/app/components/song/SongTextEditor.vue
  musicteam-nuxt/assets/css/tailwind.css
Due: typecheck

Improve packet cover page and add two-page rehearse mode
  TODO.md
  musicteam-api.yaml
  musicteam-nuxt/app/pages/setlists/[id]/index.vue
  musicteam-nuxt/app/services/api.ts
  musicteam/chalicelib/blueprints/setlists.py
  musicteam/chalicelib/pdf.py
  musicteam/chalicelib/types.py
Due: generate-apispec, generate-nuxt-api, typecheck

Pass through TooManyRequests to client
  TODO.md
  musicteam-api.yaml
  musicteam/chalicelib/db.py
  musicteam/chalicelib/types.py
  musicteam/generate_apispec.py
Due: generate-apispec, generate-nuxt-api

Try using TTF fonts in htmlbox for printing
  TODO.md
  musicteam-nuxt/app/pages/songs/[id]/index.vue
  musicteam/chalicelib/Verdana-Bold.ttf
  musicteam/chalicelib/Verdana.ttf
  musicteam/chalicelib/pdf.py
Due: generate-apispec, generate-nuxt-api, typecheck

Add API endpoints for song media
  musicteam-api.yaml
  musicteam-nuxt/app/services/api.ts
  musicteam/chalicelib/blueprints/songs.py
  musicteam/chalicelib/storage.py
  musicteam/chalicelib/types.py
Due: generate-apispec, generate-nuxt-api, typecheck

Partial completion of song media UI
  musicteam-nuxt/app/components/comments/CommentsPanel.vue
  musicteam-nuxt/app/components/song/SongMediaPanel.vue
  musicteam-nuxt/app/components/song/SongVersionPanel.vue
  musicteam-nuxt/app/components/song/SongVersionPanelCommentsMedia.vue
  musicteam-nuxt/app/composables/validation.ts
  musicteam-nuxt/app/stores/songs.ts
  musicteam-nuxt/assets/css/tailwind.css
  musicteam/chalicelib/blueprints/songs.py
Due: generate-apispec, generate-nuxt-api, typecheck

Finish media attachment UI
  musicteam-api.yaml
  musicteam-nuxt/app/components/song/SongMediaPanel.vue
  musicteam-nuxt/app/components/song/SongVersionPanelCommentsMedia.vue
  musicteam-nuxt/app/services/api.ts
  musicteam-nuxt/package-lock.json
  musicteam-nuxt/package.json
  musicteam/chalicelib/blueprints/songs.py
  musicteam/chalicelib/types.py
Due: generate-apispec, generate-nuxt-api, typecheck

fixes: avoid awkward animation, prevent dnd reordering, store search results
  TODO.md
  musicteam-nuxt/app/components/setlist/SetlistSidebar.vue
  musicteam-nuxt/app/pages/songs/search.vue
  musicteam-nuxt/app/stores/search.ts
Due: typecheck

API endpoint to bulk update setlist positions
  musicteam-api.yaml
  musicteam-nuxt/app/pages/songs/search.vue
  musicteam-nuxt/app/services/api.ts
  musicteam/chalicelib/blueprints/setlists.py
  musicteam/chalicelib/db.py
  musicteam/chalicelib/types.py
Due: generate-apispec, generate-nuxt-api, typecheck

Add ping check to try to reduce errors from slow DB wake
  musicteam-nuxt/app/app.vue
  musicteam-nuxt/app/components/mt/MtTable.vue
  musicteam-nuxt/app/pages/setlists/index.vue
  musicteam-nuxt/app/pages/songs/index.vue
  musicteam-nuxt/app/pages/team/index.vue
  musicteam-nuxt/app/stores/index.ts
  musicteam-nuxt/app/stores/ping.ts
  musicteam-nuxt/app/utils/index.ts
Due: typecheck

S3 presigned URL upload test
  cfn.yaml
  musicteam-api.yaml
  musicteam-nuxt/app/components/song/SongMediaPanel.vue
  musicteam-nuxt/app/pages/setlists/[id]/index.vue
  musicteam-nuxt/app/services/api.ts
  musicteam-nuxt/package-lock.json
  musicteam-nuxt/package.json
  musicteam/chalicelib/blueprints/objects.py
  musicteam/chalicelib/types.py
Due: generate-apispec, generate-nuxt-api, typecheck

Quick test for presigned url downloads
  musicteam-api.yaml
  musicteam-nuxt/app/services/api.ts
  musicteam/chalicelib/blueprints/songs.py
  musicteam/chalicelib/storage.py
Due: generate-apispec, generate-nuxt-api, typecheck

Add comments and media to setlists
  musicteam-nuxt/app/components/MediaEntry.vue
  musicteam-nuxt/app/components/mt/MtCollapsingPanel.vue
  musicteam-nuxt/app/components/setlist/SetlistMediaPanel.vue
  musicteam-nuxt/app/components/setlist/SetlistPanelCommentsMedia.vue
  musicteam-nuxt/app/components/song/SongMediaPanel.vue
  musicteam-nuxt/app/components/song/SongVersionPanelCommentsMedia.vue
  musicteam-nuxt/app/pages/setlists/[id]/index.vue
Due: typecheck

First Actions pipeline
  .github/workflows/test.yml
  TODO.md
Due: none

Start Cypress test infrastructure
  .pre-commit-config.yaml
  musicteam-nuxt/README.md
  musicteam-nuxt/cypress.config.ts
  musicteam-nuxt/cypress/.gitignore
  musicteam-nuxt/cypress/e2e/_init.cy.ts
  musicteam-nuxt/cypress/e2e/songs.cy.ts
  musicteam-nuxt/cypress/fixtures/song-sheet.pdf
  musicteam-nuxt/cypress/fixtures/song-sheet.txt
  musicteam-nuxt/cypress/fixtures/song.yaml
  musicteam-nuxt/cypress/support/commands.ts
  musicteam-nuxt/cypress/support/e2e.ts
  musicteam-nuxt/cypress/tsconfig.json
  musicteam-nuxt/package-lock.json
  musicteam-nuxt/package.json
Due: none

Add Cypress to Actions workflow
  .github/workflows/test.yml
Due: none

Try pre-optimizing deps, for cypress
  musicteam-nuxt/nuxt.config.ts
Due: none

Configure Cypress Cloud
  .github/workflows/test.yml
  musicteam-nuxt/cypress.config.ts
Due: none

Cypress record video, tweak timeout
  musicteam-nuxt/cypress.config.ts
  musicteam-nuxt/cypress/e2e/_init.cy.ts
Due: none

Add dependabot.yml
  .github/dependabot.yml
Due: none
