Repository kgutwin/musicteam: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-apispec, generate-nuxt-api, typecheck

generate-apispec:
  name: generate api spec
  language: system
  entry: bash -c 'cd musicteam; python generate_apispec.py ../musicteam-api.yaml'
  pass_filenames: false

generate-nuxt-api:
  name: generate nuxt api
  language: system
  entry: bash -c 'cd musicteam-nuxt; npm run generate-api'
  pass_filenames: false

typecheck:
  name: nuxt typecheck
  language: system
  entry: bash -c 'cd musicteam-nuxt; npm run lint:tsc'
  pass_filenames: false

Try bumping pinia and tweaking settings for dependabot
  musicteam-nuxt/package-lock.json
  musicteam-nuxt/package.json
Due: none

Update @pinia/nuxt
  musicteam-nuxt/package-lock.json
  musicteam-nuxt/package.json
Due: none

Update swagger-typescript-api
  musicteam-nuxt/package-lock.json
Due: none

Update nuxt and vue
  musicteam-nuxt/package-lock.json
Due: none

Freeze current pip requirements
  musicteam/requirements.txt
  requirements-dev.txt
Due: none

fix package-lock.json
  musicteam-nuxt/package-lock.json
Due: none

Keep PyMuPDF version in sync with deployment
  deploy.sh
  requirements-dev.txt
Due: none

Enable auto-merge of Dependabot PRs
  .github/workflows/dependabot-auto-merge.yml
Due: none

Hide login button while app is waking up
  musicteam-nuxt/app/pages/login.vue
  musicteam-nuxt/app/stores/ping.ts
Due: typecheck

Stripes highlight filter button, clear all option
  musicteam-nuxt/app/pages/songs/index.vue
  musicteam-nuxt/assets/css/tailwind.css
Due: typecheck

Update dependabot-auto-merge.yml
  .github/workflows/dependabot-auto-merge.yml
Due: none

typo fix
  .github/workflows/dependabot-auto-merge.yml
Due: none

Switch to rebase mode for auto-merge dependabot
  .github/workflows/dependabot-auto-merge.yml
Due: none

Looks like we only need the root directory for dependabot pip
  .github/dependabot.yml
Due: none

Don't sort setlist sheets by type; sort by name
  musicteam/chalicelib/blueprints/setlists.py
Due: generate-apispec, generate-nuxt-api

fix issue failing to save sheet updates when pdf editor fails
  musicteam-nuxt/app/pages/songs/[id]/edit/[versionId]/[sheetId]/index.vue
Due: typecheck

Add several Cypress edit tests
  musicteam-nuxt/app/components/mt/MtEditable.vue
  musicteam-nuxt/app/components/song/SongVersionPanel.vue
  musicteam-nuxt/app/pages/songs/[id]/edit/[versionId]/[sheetId]/index.vue
  musicteam-nuxt/cypress/e2e/songs.cy.ts
  musicteam-nuxt/cypress/support/commands.ts
Due: typecheck

Handle utf8 issues when rendering text to PDF
  musicteam/chalicelib/blueprints/setlists.py
  musicteam/chalicelib/storage.py
  start-dev.sh
Due: generate-apispec, generate-nuxt-api

More cypress tests for songs
  musicteam-nuxt/cypress/e2e/songs.cy.ts
  musicteam-nuxt/cypress/fixtures/songMultiVersion.yaml
  musicteam-nuxt/cypress/support/commands.ts
Due: none

Cypress test song comments and media
  .github/workflows/test.yml
  musicteam-nuxt/app/components/MediaEntry.vue
  musicteam-nuxt/app/components/comments/CommentsPanel.vue
  musicteam-nuxt/app/components/song/SongMediaPanel.vue
  musicteam-nuxt/cypress/.gitignore
  musicteam-nuxt/cypress/e2e/songs.cy.ts
  musicteam-nuxt/cypress/fixtures/test.mp3
Due: typecheck

Cypress test for adding a song
  musicteam-nuxt/cypress/e2e/songs.cy.ts
Due: none

Cypress component-level testing
  .github/workflows/test.yml
  musicteam-nuxt/app/components/mt/MtArrayInput.vue
  musicteam-nuxt/app/components/mt/MtSelectOther.vue
  musicteam-nuxt/cypress.config.ts
  musicteam-nuxt/cypress/.gitignore
  musicteam-nuxt/cypress/components/mt/MtArrayInput.cy.ts
  musicteam-nuxt/cypress/components/mt/MtSelectOther.cy.ts
  musicteam-nuxt/cypress/support/component-index.html
  musicteam-nuxt/cypress/support/component.ts
  musicteam-nuxt/postcss.config.js
  musicteam-nuxt/vite.config.ts
Due: typecheck

Fix some flaky tests
  musicteam-nuxt/cypress/e2e/songs.cy.ts
  musicteam-nuxt/nuxt.config.ts
Due: none

Start testing setlists
  musicteam-nuxt/app/components/mt/MtDropdown.vue
  musicteam-nuxt/app/components/setlist/SetlistSidebar.vue
  musicteam-nuxt/app/components/setlist/SetlistSidebarSong.vue
  musicteam-nuxt/cypress/e2e/setlists.cy.ts
  musicteam-nuxt/cypress/fixtures/setlist.yaml
  musicteam-nuxt/cypress/support/commands.ts
Due: typecheck

More test progress
  musicteam-nuxt/app/components/setlist/SetlistSidebarSong.vue
  musicteam-nuxt/cypress/e2e/setlists.cy.ts
  musicteam-nuxt/cypress/fixtures/setlistWithCandidates.yaml
  musicteam-nuxt/cypress/fixtures/song-sheet-two.txt
  musicteam-nuxt/cypress/support/commands.ts
Due: typecheck

Adjust tab panel layout
  musicteam-nuxt/app/components/mt/MtTabPanel.vue
  musicteam-nuxt/app/components/song/SongVersionPanel.vue
  musicteam-nuxt/app/pages/setlists/[id]/index.vue
Due: typecheck

Reduce chance of incorrect redirect to pending page
  musicteam-nuxt/app/middleware/checkAuth.global.ts
Due: typecheck

Finish up setlist cypress tests
  musicteam-nuxt/app/components/setlist/SetlistMediaPanel.vue
  musicteam-nuxt/app/components/setlist/SetlistOrder.vue
  musicteam-nuxt/app/components/setlist/SetlistSidebarSong.vue
  musicteam-nuxt/app/pages/setlists/[id]/index.vue
  musicteam-nuxt/cypress/e2e/setlists.cy.ts
  musicteam-nuxt/cypress/fixtures/setlistWithCandidates.yaml
  musicteam-nuxt/cypress/support/commands.ts
Due: typecheck

Add ping counter for troubleshooting
  musicteam-nuxt/app/pages/login.vue
  musicteam-nuxt/app/stores/ping.ts
Due: typecheck

Tag cypress runs to distinguish component from e2e
  .github/workflows/test.yml
Due: none

Add PDF pytests since we can't test PDFs in cypress
  musicteam/tests/__snapshots__/test_pdf/test_add_verse_order.pdf
  musicteam/tests/__snapshots__/test_pdf/test_make_cover_sheet.pdf
  musicteam/tests/__snapshots__/test_pdf/test_text_to_pdf_1.pdf
  musicteam/tests/__snapshots__/test_pdf/test_text_to_pdf_2.pdf
  musicteam/tests/test_pdf.py
Due: none

Small tweak to sidebar song style
  musicteam-nuxt/app/components/setlist/SetlistSidebarSong.vue
Due: typecheck

Start implementation of song revision tracking, more to come
  musicteam-api.yaml
  musicteam-nuxt/app/services/api.ts
  musicteam/chalicelib/blueprints/songs.py
  musicteam/chalicelib/db-schema/schema-005.sql
  musicteam/chalicelib/db.py
  musicteam/chalicelib/types.py
  musicteam/pyproject.toml
  musicteam/tests/blueprints/test_songs.py
  musicteam/tests/conftest.py
  musicteam/tests/test_pdf.py
Due: generate-apispec, generate-nuxt-api, typecheck

Sidebar songs now link to version and sheet
  musicteam-nuxt/app/components/setlist/SetlistSidebarSong.vue
  musicteam-nuxt/app/pages/songs/[id]/index.vue
Due: typecheck

Fix lack of repeated pings
  musicteam-nuxt/app/pages/login.vue
  musicteam-nuxt/app/stores/ping.ts
Due: typecheck

PDF test ID more permissive match
  musicteam/tests/test_pdf.py
Due: none

Add bar to show ping status
  musicteam-nuxt/app/app.vue
  musicteam-nuxt/app/components/PingBar.vue
Due: typecheck

Edit button can create a copy of the version
  musicteam-nuxt/app/components/comments/CommentsPanel.vue
  musicteam-nuxt/app/components/song/SongVersionPanel.vue
  musicteam-nuxt/app/pages/songs/new.vue
Due: typecheck

Only count media from songs in positions
  musicteam-nuxt/app/components/setlist/SetlistPanelCommentsMedia.vue
Due: typecheck

Path conditions:
  generate-apispec: any of: musicteam/app.py|musicteam/chalicelib
  generate-nuxt-api: any of: musicteam/app.py|musicteam/chalicelib|musicteam-api.yaml
  typecheck: any of: musicteam-nuxt/app
