Repository kgutwin/musicteam: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-apispec, generate-nuxt-api, typecheck

generate-apispec:
  name: generate api spec
  language: system
  entry: bash -c 'cd musicteam; python generate_apispec.py ../musicteam-api.yaml'
  pass_filenames: false

generate-nuxt-api:
  name: generate nuxt api
  language: system
  entry: bash -c 'cd musicteam-nuxt; npm run generate-api'
  pass_filenames: false

typecheck:
  name: nuxt typecheck
  language: system
  entry: bash -c 'cd musicteam-nuxt; npm run lint:tsc'
  pass_filenames: false

add endpoint to expose revisions
  musicteam-api.yaml
  musicteam-nuxt/app/services/api.ts
  musicteam/chalicelib/blueprints/songs.py
  musicteam/chalicelib/types.py
  musicteam/tests/blueprints/test_songs.py
Due: generate-apispec, generate-nuxt-api, typecheck

test and fix song deletion
  musicteam/chalicelib/blueprints/songs.py
  musicteam/chalicelib/db-schema/schema-005.sql
  musicteam/tests/blueprints/test_songs.py
Due: generate-apispec, generate-nuxt-api

Track changes to song versions and sheets
  musicteam-api.yaml
  musicteam-nuxt/app/services/api.ts
  musicteam/chalicelib/blueprints/songs.py
  musicteam/chalicelib/db-schema/schema-005.sql
  musicteam/chalicelib/types.py
Due: generate-apispec, generate-nuxt-api, typecheck

Progress fixing tests, but may not be done yet
  musicteam/chalicelib/blueprints/songs.py
  musicteam/chalicelib/db.py
  musicteam/tests/__snapshots__/test_db.ambr
  musicteam/tests/blueprints/test_songs.py
Due: generate-apispec, generate-nuxt-api

swap out py-pglite for our own fork
  .pre-commit-config.yaml
  musicteam/chalicelib/db.py
  musicteam/chalicelib/pglite.py
  musicteam/requirements.txt
  requirements-dev.txt
Due: generate-apispec, generate-nuxt-api

schema tweak to avoid test failures
  .pre-commit-config.yaml
  musicteam/chalicelib/blueprints/auth.py
  musicteam/chalicelib/db-schema/schema-005.sql
Due: generate-apispec, generate-nuxt-api

fix pytest
  musicteam/tests/__snapshots__/test_db.ambr
Due: none

Song revision tracking (#30)
  .pre-commit-config.yaml
  musicteam-api.yaml
  musicteam-nuxt/app/services/api.ts
  musicteam/chalicelib/blueprints/auth.py
  musicteam/chalicelib/blueprints/songs.py
  musicteam/chalicelib/db-schema/schema-005.sql
  musicteam/chalicelib/db.py
  musicteam/chalicelib/pglite.py
  musicteam/chalicelib/types.py
  musicteam/pyproject.toml
  musicteam/requirements.txt
  musicteam/tests/__snapshots__/test_db.ambr
  musicteam/tests/blueprints/test_songs.py
  musicteam/tests/conftest.py
  requirements-dev.txt
Due: generate-apispec, generate-nuxt-api, typecheck

Missed tests and tweaks from song-revision-tracking
  musicteam/chalicelib/db.py
  musicteam/chalicelib/pglite.py
  musicteam/tests/blueprints/test_setlists.py
  musicteam/tests/blueprints/test_songs.py
Due: generate-apispec, generate-nuxt-api

Starting history, with showing per-song results
  musicteam-api.yaml
  musicteam-nuxt/app/pages/songs/[id]/index.vue
  musicteam-nuxt/app/services/api.ts
  musicteam-nuxt/app/stores/history.ts
  musicteam/app.py
  musicteam/chalicelib/blueprints/history.py
  musicteam/chalicelib/db-schema/schema-006.sql
  musicteam/chalicelib/db.py
  musicteam/chalicelib/types.py
Due: generate-apispec, generate-nuxt-api, typecheck

Sparkline history in song listing
  musicteam-api.yaml
  musicteam-nuxt/app/components/mt/MtSparkline.vue
  musicteam-nuxt/app/pages/login.vue
  musicteam-nuxt/app/pages/songs/[id]/index.vue
  musicteam-nuxt/app/pages/songs/index.vue
  musicteam-nuxt/app/services/api.ts
  musicteam-nuxt/app/stores/history.ts
  musicteam/chalicelib/blueprints/history.py
  musicteam/chalicelib/types.py
Due: generate-apispec, generate-nuxt-api, typecheck

Add top songs history page
  musicteam-api.yaml
  musicteam-nuxt/app/components/NavBar.vue
  musicteam-nuxt/app/components/mt/MtDropdownRadioGroup.vue
  musicteam-nuxt/app/pages/history/index.vue
  musicteam-nuxt/app/services/api.ts
  musicteam-nuxt/app/stores/history.ts
  musicteam/chalicelib/blueprints/history.py
  musicteam/chalicelib/types.py
Due: generate-apispec, generate-nuxt-api, typecheck

Fix de-ordering issue with top songs
  musicteam/chalicelib/blueprints/history.py
Due: generate-apispec, generate-nuxt-api

Update db pytest snapshot
  musicteam/tests/__snapshots__/test_db.ambr
Due: none

A few tweaks and update TODO
  TODO.md
  musicteam-nuxt/app/pages/history/index.vue
  musicteam-nuxt/app/pages/songs/index.vue
  musicteam-nuxt/app/stores/prefs.ts
Due: typecheck

Fix Docker build
  Dockerfile
  musicteam-nuxt/get-pdfjs.sh
Due: none

Tiny tweak to cy component typescript
  musicteam-nuxt/cypress/support/component.ts
Due: none

Add missing last_modified column to song search
  musicteam/chalicelib/blueprints/songs.py
Due: generate-apispec, generate-nuxt-api

set_session_id must be called in a transaction
  musicteam/chalicelib/blueprints/songs.py
  musicteam/chalicelib/db.py
Due: generate-apispec, generate-nuxt-api

Add bugs to TODO.md
  TODO.md
Due: none

Apply MIT License
  LICENSE
Due: none

propagate updated pymupdf stubs
  .pre-commit-config.yaml
  musicteam/chalicelib/pdf.py
Due: generate-apispec, generate-nuxt-api

pre-commit needs to check its own mypy dependencies
  .pre-commit-config.yaml
  musicteam/pre_commit_requirements_sync.py
  requirements-dev.txt
Due: none

Fix sheet edit flow
  TODO.md
  musicteam-nuxt/app/components/mt/MtSelectOther.vue
  musicteam-nuxt/app/components/song/SongTextEditor.vue
  musicteam-nuxt/app/components/song/SongVersionPanel.vue
  musicteam-nuxt/app/pages/songs/[id]/edit/[versionId]/[sheetId]/index.vue
  musicteam-nuxt/assets/css/tailwind.css
  musicteam-nuxt/cypress/components/mt/MtSelectOther.cy.ts
  musicteam-nuxt/cypress/e2e/songs.cy.ts
Due: typecheck

sync pre-commit
  .pre-commit-config.yaml
Due: none

disable pre-commit.ci hooks that have external dependencies; fix requirements sync
  .pre-commit-config.yaml
  musicteam/pre_commit_requirements_sync.py
Due: none

fix typo
  .pre-commit-config.yaml
Due: none

flush file to avoid blank output
  musicteam/pre_commit_requirements_sync.py
Due: none

Sync pre-commit in dependabot auto merge workflow
  .github/workflows/dependabot-auto-merge.yml
Due: none

Only record failed Cypress runs
  .github/workflows/test.yml
Due: none

Missed pip install in dependabot auto-merge workflow
  .github/workflows/dependabot-auto-merge.yml
Due: none

auto git commit needs identity info
  .github/workflows/dependabot-auto-merge.yml
Due: none

ok, trying this for git configuration
  .github/workflows/dependabot-auto-merge.yml
Due: none

try doing the mypy sync in a real pre-commit hook
  .github/workflows/dependabot-auto-merge.yml
  .pre-commit-config.yaml
Due: none

Bump pre-commit-mypy-sync version
  .pre-commit-config.yaml
Due: none

disabling pre-commit-mypy-sync for now, it needs work
  .pre-commit-config.yaml
Due: none

update pre-commit for mypy sync
  .pre-commit-config.yaml
Due: none

First part of mobile layout
  musicteam-nuxt/app/components/NavBar.vue
  musicteam-nuxt/app/components/PingBar.vue
  musicteam-nuxt/app/pages/index.vue
  musicteam-nuxt/assets/css/tailwind.css
Due: typecheck

More style tweaks for mobile layout
  musicteam-nuxt/app/components/NavBar.vue
  musicteam-nuxt/app/components/mt/MtDropdown.vue
  musicteam-nuxt/app/components/setlist/SetlistOrder.vue
  musicteam-nuxt/app/components/song/SongTextPanel.vue
  musicteam-nuxt/app/components/song/SongVersionPanel.vue
  musicteam-nuxt/app/pages/history/index.vue
  musicteam-nuxt/app/pages/setlists/[id]/index.vue
  musicteam-nuxt/app/pages/setlists/index.vue
  musicteam-nuxt/app/pages/songs/index.vue
  musicteam-nuxt/app/pages/team/index.vue
  musicteam-nuxt/app/types/mt.ts
  musicteam-nuxt/app/utils/index.ts
  musicteam-nuxt/assets/css/tailwind.css
Due: typecheck

Path conditions:
  generate-apispec: any of: musicteam/app.py|musicteam/chalicelib
  generate-nuxt-api: any of: musicteam/app.py|musicteam/chalicelib|musicteam-api.yaml
  typecheck: any of: musicteam-nuxt/app
