Repository kgutwin/musicteam: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-apispec, generate-nuxt-api, typecheck

generate-apispec:
  name: generate api spec
  language: system
  entry: bash -c 'cd musicteam; python generate_apispec.py ../musicteam-api.yaml'
  pass_filenames: false

generate-nuxt-api:
  name: generate nuxt api
  language: system
  entry: bash -c 'cd musicteam-nuxt; npm run generate-api'
  pass_filenames: false

typecheck:
  name: nuxt typecheck
  language: system
  entry: bash -c 'cd musicteam-nuxt; npm run lint:tsc'
  pass_filenames: false

Frontend, backend - full schema CRUD
  musicteam-api.yaml
  musicteam-nuxt/app/components/NavBar.vue
  musicteam-nuxt/app/components/mt/MtTable.vue
  musicteam-nuxt/app/pages/songs/[id]/index.vue
  musicteam-nuxt/app/pages/songs/index.vue
  musicteam-nuxt/app/pages/songs/new.vue
  musicteam-nuxt/app/services/api.ts
  musicteam-nuxt/app/stores/songs.ts
  musicteam-nuxt/assets/css/tailwind.css
  musicteam/app.py
  musicteam/chalicelib/blueprints/comments.py
  musicteam/chalicelib/blueprints/setlists.py
  musicteam/chalicelib/blueprints/songs.py
  musicteam/chalicelib/db-schema/schema-0.1.0.sql
  musicteam/chalicelib/middleware.py
  musicteam/chalicelib/types.py
  musicteam/generate_apispec.py
Due: generate-apispec, generate-nuxt-api, typecheck

Add songs to setlist positions
  musicteam-nuxt/app/components/mt/MtDropdown.vue
  musicteam-nuxt/app/components/setlist/SetlistSidebar.vue
  musicteam-nuxt/app/components/setlist/SetlistSidebarSong.vue
  musicteam-nuxt/app/stores/songs.ts
Due: typecheck

Styling improvements and general cleanup, prep for POC
  musicteam-nuxt/app/components/mt/MtDropdown.vue
  musicteam-nuxt/app/components/setlist/SetlistSidebar.vue
  musicteam-nuxt/app/components/setlist/SetlistSidebarSong.vue
  musicteam-nuxt/app/components/song/SongVersionPanel.vue
  musicteam-nuxt/app/pages/index.vue
  musicteam-nuxt/app/pages/login.vue
  musicteam-nuxt/app/pages/my/profile.vue
  musicteam-nuxt/app/pages/setlists/[id]/index.vue
  musicteam-nuxt/app/pages/setlists/index.vue
  musicteam-nuxt/app/pages/setlists/new.vue
  musicteam-nuxt/app/pages/songs/[id]/index.vue
  musicteam-nuxt/app/stores/index.ts
  musicteam-nuxt/app/utils/index.ts
Due: typecheck

Draggable songs in active set list
  TODO.md
  musicteam-nuxt/app/components/setlist/SetlistSidebar.vue
  musicteam-nuxt/app/components/setlist/SetlistSidebarSong.vue
  musicteam-nuxt/package-lock.json
  musicteam-nuxt/package.json
Due: typecheck

Automatic DB schema upgrades
  TODO.md
  musicteam-api.yaml
  musicteam-nuxt/app/components/setlist/SetlistSidebar.vue
  musicteam-nuxt/app/components/setlist/SetlistSidebarSong.vue
  musicteam-nuxt/app/services/api.ts
  musicteam/app.py
  musicteam/chalicelib/db-schema/schema-001.sql
  musicteam/chalicelib/db.py
Due: generate-apispec, generate-nuxt-api, typecheck

initial end-to-end deployment
  cfn.yaml
  deploy.sh
  musicteam-nuxt/nuxt.config.ts
  musicteam/chalicelib/blueprints/auth.py
  musicteam/chalicelib/blueprints/objects.py
  musicteam/chalicelib/blueprints/songs.py
  musicteam/chalicelib/config.py
  musicteam/chalicelib/db.py
  musicteam/chalicelib/storage.py
  musicteam/chalicelib/types.py
  musicteam/mypy-stubs/aurora_data_api.pyi
Due: generate-apispec, generate-nuxt-api

ready for deployment
  TODO.md
  cfn.yaml
  musicteam-nuxt/app/components/mt/MtTable.vue
  musicteam-nuxt/app/components/mt/MtText.vue
  musicteam-nuxt/app/components/song/SongVersionPanel.vue
  musicteam-nuxt/app/composables/validation.ts
  musicteam-nuxt/app/pages/login.vue
  musicteam-nuxt/app/pages/setlists/[id]/index.vue
  musicteam-nuxt/app/pages/setlists/index.vue
  musicteam-nuxt/app/pages/setlists/new.vue
  musicteam-nuxt/app/pages/songs/[id]/index.vue
  musicteam-nuxt/app/pages/songs/index.vue
  musicteam-nuxt/app/pages/songs/new.vue
  musicteam-nuxt/app/types/mt.ts
  musicteam-nuxt/assets/css/tailwind.css
  musicteam-nuxt/nuxt.config.ts
  musicteam/app.py
  musicteam/chalicelib/blueprints/auth.py
  musicteam/chalicelib/blueprints/songs.py
  musicteam/chalicelib/db-schema/schema-002.sql
  musicteam/chalicelib/db.py
  musicteam/chalicelib/middleware.py
Due: generate-apispec, generate-nuxt-api, typecheck

Frontend tweaks
  TODO.md
  musicteam-nuxt/app/components/Footer.vue
  musicteam-nuxt/app/components/mt/MtDropdown.vue
  musicteam-nuxt/app/components/mt/MtTable.vue
  musicteam-nuxt/app/components/setlist/SetlistSidebarSong.vue
  musicteam-nuxt/app/pages/setlists/[id]/index.vue
  musicteam-nuxt/app/pages/setlists/new.vue
  musicteam-nuxt/app/pages/songs/index.vue
  musicteam-nuxt/app/pages/songs/new.vue
  musicteam-nuxt/app/pages/team/index.vue
  musicteam-nuxt/nuxt.config.ts
  musicteam-nuxt/package-lock.json
  musicteam-nuxt/package.json
Due: typecheck

Initial toast on errors, needs more
  TODO.md
  musicteam-nuxt/app/components/NavBar.vue
  musicteam-nuxt/app/composables/toast.ts
  musicteam-nuxt/app/pages/setlists/new.vue
  musicteam-nuxt/app/pages/songs/[id]/index.vue
  musicteam-nuxt/app/pages/songs/new.vue
  musicteam-nuxt/app/stores/toasts.ts
  musicteam-nuxt/app/types/toast.ts
  musicteam-nuxt/package-lock.json
  musicteam-nuxt/package.json
  musicteam-nuxt/patches/tailvue+1.0.0.patch
  musicteam-nuxt/tailwind.config.js
Due: typecheck

Click songs in active set list
  musicteam-nuxt/app/components/setlist/SetlistSidebarSong.vue
  musicteam-nuxt/app/components/song/SongVersionPanel.vue
  musicteam-nuxt/app/pages/setlists/index.vue
Due: typecheck

Editable setlist positions
  musicteam-nuxt/app/components/mt/MtEditable.vue
  musicteam-nuxt/app/components/mt/MtText.vue
  musicteam-nuxt/app/components/setlist/SetlistSidebarSong.vue
  musicteam-nuxt/app/components/song/SongVersionPanel.vue
  musicteam-nuxt/app/pages/setlists/[id]/index.vue
  musicteam-nuxt/assets/css/tailwind.css
Due: typecheck

Many new edit features
  TODO.md
  musicteam-nuxt/app/components/mt/MtArrayInput.vue
  musicteam-nuxt/app/components/mt/MtEditable.vue
  musicteam-nuxt/app/components/song/SongTextPanel.vue
  musicteam-nuxt/app/components/song/SongVersionPanel.vue
  musicteam-nuxt/app/pages/index.vue
  musicteam-nuxt/app/pages/login.vue
  musicteam-nuxt/app/pages/my/profile.vue
  musicteam-nuxt/app/pages/setlists/[id]/index.vue
  musicteam-nuxt/app/pages/setlists/index.vue
  musicteam-nuxt/app/pages/setlists/new.vue
  musicteam-nuxt/app/pages/songs/[id]/edit/[versionId]/[sheetId]/index.vue
  musicteam-nuxt/app/pages/songs/[id]/index.vue
  musicteam-nuxt/app/pages/songs/index.vue
  musicteam-nuxt/app/pages/songs/new.vue
  musicteam-nuxt/app/utils/index.ts
Due: typecheck

Add Dockerfile
  .dockerignore
  Dockerfile
  musicteam-api.yaml
  musicteam-nuxt/app/pages/team/index.vue
  musicteam-nuxt/app/services/api.ts
  musicteam/chalicelib/blueprints/auth.py
  musicteam/chalicelib/middleware.py
  musicteam/chalicelib/types.py
  start-dev.sh
Due: generate-apispec, generate-nuxt-api, typecheck

Initial README
  README.md
Due: none

Delete versions and sheets
  TODO.md
  musicteam-nuxt/app/components/mt/MtDropdown.vue
  musicteam-nuxt/app/components/song/SongPdfEditor.vue
  musicteam-nuxt/app/components/song/SongTextEditor.vue
  musicteam-nuxt/app/components/song/SongVersionPanel.vue
  musicteam-nuxt/app/pages/songs/[id]/edit/[versionId]/[sheetId]/index.vue
  musicteam-nuxt/app/pages/songs/[id]/index.vue
Due: typecheck

Edit order of setlist
  TODO.md
  musicteam-nuxt/app/components/mt/MtTable.vue
  musicteam-nuxt/app/components/setlist/SetlistSidebar.vue
  musicteam-nuxt/app/pages/login.vue
  musicteam-nuxt/app/pages/setlists/[id]/index.vue
  musicteam-nuxt/app/pages/setlists/new.vue
  musicteam-nuxt/app/utils/index.ts
Due: typecheck

Filter and sort on songs
  TODO.md
  musicteam-nuxt/app/components/mt/MtDropdown.vue
  musicteam-nuxt/app/components/mt/MtDropdownCheckbox.vue
  musicteam-nuxt/app/components/mt/MtDropdownRadioGroup.vue
  musicteam-nuxt/app/components/mt/MtDropdownSearch.vue
  musicteam-nuxt/app/pages/songs/index.vue
  musicteam-nuxt/assets/css/tailwind.css
Due: typecheck

Better error reporting
  TODO.md
  musicteam-api.yaml
  musicteam-nuxt/app/composables/toast.ts
  musicteam-nuxt/app/pages/songs/[id]/index.vue
  musicteam-nuxt/app/services/index.ts
  musicteam/chalicelib/blueprints/auth.py
  musicteam/chalicelib/blueprints/songs.py
  musicteam/chalicelib/db.py
  musicteam/chalicelib/middleware.py
  musicteam/chalicelib/types.py
  musicteam/mypy-stubs/aurora_data_api.pyi
Due: generate-apispec, generate-nuxt-api, typecheck

Add Swagger UI and start documenting API endpoints
  musicteam-api.yaml
  musicteam-nuxt/app/pages/my/profile.vue
  musicteam-nuxt/app/pages/songs/[id]/edit/[versionId]/[sheetId]/index.vue
  musicteam-nuxt/app/services/api.ts
  musicteam-nuxt/app/stores/index.ts
  musicteam-nuxt/assets/css/tailwind.css
  musicteam-nuxt/public/musicteam-api.yaml
  musicteam-nuxt/public/swagger-ui/favicon-16x16.png
  musicteam-nuxt/public/swagger-ui/favicon-32x32.png
  musicteam-nuxt/public/swagger-ui/index.css
  musicteam-nuxt/public/swagger-ui/index.html
  musicteam-nuxt/public/swagger-ui/oauth2-redirect.html
  musicteam-nuxt/public/swagger-ui/oauth2-redirect.js
  musicteam-nuxt/public/swagger-ui/swagger-initializer.js
  musicteam-nuxt/public/swagger-ui/swagger-ui-bundle.js
  musicteam-nuxt/public/swagger-ui/swagger-ui-es-bundle-core.js
  musicteam-nuxt/public/swagger-ui/swagger-ui-es-bundle.js
  musicteam-nuxt/public/swagger-ui/swagger-ui-standalone-preset.js
  musicteam-nuxt/public/swagger-ui/swagger-ui.css
  musicteam-nuxt/public/swagger-ui/swagger-ui.js
  musicteam/chalicelib/blueprints/objects.py
  musicteam/chalicelib/blueprints/songs.py
  musicteam/chalicelib/middleware.py
  musicteam/chalicelib/types.py
  musicteam/generate_apispec.py
Due: generate-apispec, generate-nuxt-api, typecheck

Automatic setlist packet assembly
  .pre-commit-config.yaml
  musicteam-api.yaml
  musicteam-nuxt/app/components/mt/MtDropdown.vue
  musicteam-nuxt/app/components/mt/MtTabPanel.vue
  musicteam-nuxt/app/components/setlist/SetlistOrder.vue
  musicteam-nuxt/app/components/song/SongTextPanel.vue
  musicteam-nuxt/app/components/song/SongVersionPanel.vue
  musicteam-nuxt/app/pages/setlists/[id]/index.vue
  musicteam-nuxt/app/services/api.ts
  musicteam-nuxt/app/types/mt.ts
  musicteam/chalicelib/blueprints/setlists.py
  musicteam/chalicelib/db.py
  musicteam/chalicelib/pdf.py
  musicteam/chalicelib/storage.py
  musicteam/chalicelib/types.py
  musicteam/requirements.txt
  requirements-dev.txt
Due: generate-apispec, generate-nuxt-api, typecheck

Fix pymupdf dep and increase memory
  .pre-commit-config.yaml
  musicteam/.chalice/config.json
  musicteam/requirements.txt
  requirements-dev.txt
Due: none

Tweaks to setlist packets
  musicteam-nuxt/app/pages/setlists/[id]/index.vue
  musicteam/chalicelib/blueprints/setlists.py
  musicteam/chalicelib/pdf.py
Due: generate-apispec, generate-nuxt-api, typecheck

Some more small setlist packet tweaks
  musicteam-nuxt/app/pages/setlists/[id]/index.vue
  musicteam-nuxt/assets/css/tailwind.css
  musicteam/chalicelib/blueprints/setlists.py
  musicteam/chalicelib/pdf.py
Due: generate-apispec, generate-nuxt-api, typecheck

Most of the final set of tweaks before MVP
  TODO.md
  musicteam-api.yaml
  musicteam-nuxt/app/components/song/SongVersionPanel.vue
  musicteam-nuxt/app/components/user/UserGenerateApikey.vue
  musicteam-nuxt/app/pages/my/profile.vue
  musicteam-nuxt/app/pages/setlists/[id]/index.vue
  musicteam-nuxt/app/pages/songs/[id]/index.vue
  musicteam-nuxt/app/services/api.ts
  musicteam/chalicelib/blueprints/songs.py
  musicteam/chalicelib/blueprints/users.py
  musicteam/chalicelib/middleware.py
  musicteam/chalicelib/types.py
  musicteam/generate_apispec.py
Due: generate-apispec, generate-nuxt-api, typecheck

update TODOs
  TODO.md
Due: none

Clean up some issues around login and tokens
  TODO.md
  musicteam-nuxt/nuxt.config.ts
  musicteam/chalicelib/blueprints/auth.py
  musicteam/chalicelib/middleware.py
Due: generate-apispec, generate-nuxt-api

Add endpoints for getting tags and authors
  musicteam-api.yaml
  musicteam-nuxt/app/services/api.ts
  musicteam/app.py
  musicteam/chalicelib/blueprints/info.py
  musicteam/chalicelib/middleware.py
  musicteam/chalicelib/types.py
Due: generate-apispec, generate-nuxt-api, typecheck

Schema updates, flag to disable auto verse order
  TODO.md
  musicteam-api.yaml
  musicteam-nuxt/app/components/NavBar.vue
  musicteam-nuxt/app/components/song/SongVersionPanel.vue
  musicteam-nuxt/app/pages/songs/[id]/edit/[versionId]/[sheetId]/index.vue
  musicteam-nuxt/app/pages/songs/new.vue
  musicteam-nuxt/app/services/api.ts
  musicteam/chalicelib/blueprints/setlists.py
  musicteam/chalicelib/blueprints/songs.py
  musicteam/chalicelib/db-schema/schema-003.sql
  musicteam/chalicelib/db.py
  musicteam/chalicelib/types.py
  musicteam/tests/test_app.py
  musicteam/tests/test_db.py
Due: generate-apispec, generate-nuxt-api, typecheck

Update PyMuPDF version in order to get docker build to work
  musicteam/requirements.txt
Due: none

Add frontend support for setlist title and participants
  TODO.md
  musicteam-nuxt/app/components/mt/MtEditableTags.vue
  musicteam-nuxt/app/pages/setlists/[id]/index.vue
  musicteam-nuxt/app/pages/setlists/index.vue
  musicteam-nuxt/app/pages/setlists/new.vue
  musicteam-nuxt/app/pages/songs/[id]/index.vue
  musicteam/chalicelib/blueprints/setlists.py
  musicteam/chalicelib/pdf.py
Due: generate-apispec, generate-nuxt-api, typecheck

Manually download the latest pymupdf since chalice won't do it
  .gitignore
  Dockerfile
  deploy.sh
  musicteam/requirements.txt
  requirements-dev.txt
Due: none

Warn on new song with existing title or CCLI number
  TODO.md
  musicteam-nuxt/app/components/song/SongNewLibraryLinks.vue
  musicteam-nuxt/app/pages/songs/new.vue
Due: typecheck

fix a small style issue
  musicteam-nuxt/app/components/mt/MtDropdownCheckbox.vue
  musicteam-nuxt/app/components/mt/MtDropdownRadioGroup.vue
Due: typecheck

Filter song list by tags and authors
  TODO.md
  musicteam-nuxt/app/pages/songs/index.vue
  musicteam-nuxt/app/stores/info.ts
Due: typecheck

fix some issues with MtArrayInput on Chrome
  TODO.md
  musicteam-nuxt/app/components/mt/MtArrayInput.vue
  musicteam-nuxt/app/pages/songs/new.vue
Due: typecheck

Add schema generation test
  .pre-commit-config.yaml
  musicteam/chalicelib/config.py
  musicteam/chalicelib/db.py
  musicteam/tests/__snapshots__/test_db.ambr
  musicteam/tests/conftest.py
  musicteam/tests/test_db.py
  requirements-dev.txt
Due: generate-apispec, generate-nuxt-api

Further improvements to MtArrayInput
  TODO.md
  musicteam-nuxt/app/components/mt/MtArrayInput.vue
Due: typecheck

New song can have incomplete version; also add multiple sheets
  TODO.md
  musicteam-nuxt/app/components/song/SongNewSheetForm.vue
  musicteam-nuxt/app/components/song/SongVersionPanel.vue
  musicteam-nuxt/app/composables/validation.ts
  musicteam-nuxt/app/pages/songs/[id]/edit/[versionId]/[sheetId]/index.vue
  musicteam-nuxt/app/pages/songs/new.vue
  musicteam-nuxt/assets/css/tailwind.css
Due: typecheck

Path conditions:
  generate-apispec: any of: musicteam/app.py|musicteam/chalicelib
  generate-nuxt-api: any of: musicteam/app.py|musicteam/chalicelib|musicteam-api.yaml
  typecheck: any of: musicteam-nuxt/app
